* {
    margin: 0;
    padding: 0;
  }
 
    body {
    height: 100vh;
    background: url(https://i.postimg.cc/vH02zFzw/02fa3c83366581619ca5deeb6b70c7de.jpg)
        no-repeat;
    background-size: cover;
    }

    .section-principal {
    
    
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: 40px;

    }
    .section-principal div {
      width:  200px;
      height: 230px;
    border-bottom-right-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    /* cuadros */
    .container {
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 7px;
      border-bottom: solid;
    }
    .imagen {
      border-radius: 40px;
      border: solid;
      width: 120px;
      height: 50px;
    }
    /* titulo */
    .title {
      margin-top: 50px;
      font-size: 40px;
      color: rgb(226, 215, 215);
      border: solid 4px;
      background: #0e5ae7ad;
      border-radius: 30px;
      padding: 20px;
  
      box-shadow: 10px 10px 12px #15327aa9, -20px -20px 22px rgba(76, 226, 231, 0.424);
    }
    p {
      font-size: 11px;
      color: #33ffff;
      text-align: center;
      margin-top: 18px;
    }
    
    /* capital america */
    .box-one {
      background: #e407078f;
      box-shadow: 20px 20px 26px #700303a5, -10px -10px 26px #ff0b0b9a;
      display: flex;
      flex-direction: column;
      border: solid rgb(196, 7, 7) 4px;
    }
  
    /* hull */
  
    .box-two {
      background: rgba(8, 8, 201, 0.655);
      box-shadow: 20px 20px 32px #0404e48a, -20px -20px 32px #3506c393;
      display: flex;
      flex-direction: column;
      border: solid rgb(7, 7, 90) 4px;
    }
    /* thanos */
    .box-three {
      background: #09656da0;
      box-shadow: 10px 10px 12px #156e7aa9, -20px -20px 22px #33ffff6c;
      display: flex;
      flex-direction: column;
      border: solid rgb(7, 161, 196) 4px;
    }
  
    
  